In [9]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('user_personalized_features.csv', index_col=0)
df

,User_ID,Age,Gender,Location,Income,Interests,Last_Login_Days_Ago,Purchase_Frequency,Average_Order_Value,Total_Spending,Product_Category_Preference,Time_Spent_on_Site_Minutes,Pages_Viewed,Newsletter_Subscription
0,#1,56,Male,Suburban,38037,Sports,5,7,18,2546,Books,584,38,True
1,#2,46,Female,Rural,103986,Technology,15,7,118,320,Electronics,432,40,False
2,#3,32,Female,Suburban,101942,Sports,28,1,146,3766,Apparel,306,1,True
3,#4,60,Female,Suburban,71612,Fashion,18,3,163,4377,Apparel,527,29,False
4,#5,25,Male,Suburban,49725,Travel,2,5,141,4502,Health & Beauty,53,10,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,#996,22,Male,Urban,104162,Technology,18,7,83,607,Apparel,542,21,False
996,#997,40,Male,Urban,99003,Travel,16,3,180,431,Apparel,359,4,True
997,#998,27,Female,Urban,72395,Technology,8,8,130,650,Books,331,34,False
998,#999,61,Male,Rural,59758,Travel,1,3,152,1041,Electronics,427,28,True
999,#1000,19,Male,Rural,74312,Sports,12,7,175,827,Health & Beauty,497,38,True

First take a look at the data and get a sense of what I am working with...

In [10]:
df.describe()

,Age,Income,Last_Login_Days_Ago,Purchase_Frequency,Average_Order_Value,Total_Spending,Time_Spent_on_Site_Minutes,Pages_Viewed
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,40.986000,81304.732000,15.586000,4.631000,104.039000,2552.957000,297.360000,24.40300
std,13.497852,37363.972753,8.205604,2.837762,54.873569,1420.985048,175.596123,14.02017
min,18.000000,20155.000000,1.000000,0.000000,10.000000,112.000000,2.000000,1.00000
25%,29.000000,48715.500000,8.000000,2.000000,58.000000,1271.750000,144.000000,12.00000
50%,42.000000,81042.000000,16.000000,5.000000,105.000000,2542.000000,292.500000,24.50000
75%,52.000000,112694.500000,23.000000,7.000000,150.000000,3835.500000,449.250000,36.00000
max,64.000000,149951.000000,29.000000,9.000000,199.000000,4999.000000,599.000000,49.00000

Some questions I have looking at the data:
-- Does time spent on site correlate with total spending?
-- Does the pages viewed impact purchase frequency?

In [11]:
#Affected rows: Gender, location, interests, Newspaper_subscription, Product_Category_Preference
le = LabelEncoder()
df['Gender'] = le.fit_transform(df['Gender'])
df['Location'] = le.fit_transform(df['Location'])
df['Interests'] = le.fit_transform(df['Interests'])
df['Product_Category_Preference'] = le.fit_transform(df['Product_Category_Preference'])
df['Newsletter_Subscription'] = le.fit_transform(df['Newsletter_Subscription'])
df

,User_ID,Age,Gender,Location,Income,Interests,Last_Login_Days_Ago,Purchase_Frequency,Average_Order_Value,Total_Spending,Product_Category_Preference,Time_Spent_on_Site_Minutes,Pages_Viewed,Newsletter_Subscription
0,#1,56,1,1,38037,2,5,7,18,2546,1,584,38,1
1,#2,46,0,0,103986,3,15,7,118,320,2,432,40,0
2,#3,32,0,1,101942,2,28,1,146,3766,0,306,1,1
3,#4,60,0,1,71612,0,18,3,163,4377,0,527,29,0
4,#5,25,1,1,49725,4,2,5,141,4502,3,53,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,#996,22,1,2,104162,3,18,7,83,607,0,542,21,0
996,#997,40,1,2,99003,4,16,3,180,431,0,359,4,1
997,#998,27,0,2,72395,3,8,8,130,650,1,331,34,0
998,#999,61,1,0,59758,4,1,3,152,1041,2,427,28,1
999,#1000,19,1,0,74312,2,12,7,175,827,3,497,38,1

In [ ]:
#df_encoded = pd.get_dummies(df, drop_first=True)
#df_encoded.columns

In [ ]:
#I want to convert things to be on the same scale both for correlation and for ML purposes.
df = np.log(df)
df